{% extends "base.html" %}
{% block title %}
    Supervisor Dashboard
{% endblock title %}
{% block content %}
    {% include "supervisor_navbar.html" %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="card ms-4">
                    <div class="card-header text-bg-warning">Employees Under You</div>
                    {% if employees %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                    {% for employee in employees %}
                                        <tr onclick='window.location="{% url 'view_employee' employee.id %}"'
                                            style="cursor:pointer">
                                            <td>{{ employee }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <h5 class="alert m-4 text-center text-danger">No Employee Records</h5>
                    {% endif %}
                    <!-- pagination -->
                    {% if employees.has_next or employees.has_previous %}
                        <div class="pagination ms-auto">
                            {% if employees.has_previous %}
                                <a class="page-link" href="?emp_page=1">&laquo; First</a>
                                <a class="page-link"
                                   href="?emp_page={{ employees.previous_page_number }}">Previous</a>
                            {% endif %}
                            {% for page_num in employees.paginator.page_range %}
                                {% if employees.number == page_num %}
                                    <span class="page-link current">{{ page_num }}</span>
                                {% else %}
                                    <a class="page-link" href="?emp_page={{ page_num }}">{{ page_num }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if employees.has_next %}
                                <a class="page-link" href="?emp_page={{ employees.next_page_number }}">Next</a>
                                <a class="page-link"
                                   href="?emp_page={{ employees.paginator.num_pages }}">Last &raquo;</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="card me-4">
                    <div class="card-header text-bg-warning">Actions Needed (OPEN)</div>
                    {% if transactions %}
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                    {% for transaction in transactions %}
                                        <tr onclick='window.location="{% url 'view_transaction' transaction.id %}"'
                                            style="cursor:pointer">
                                            <td>{{ transaction }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <h5 class="alert m-4 text-center text-danger">No Urgents</h5>
                    {% endif %}
                    <!-- pagination -->
                    {% if transactions.has_next or transactions.has_previous %}
                        <div class="pagination ms-auto">
                            {% if transactions.has_previous %}
                                <a class="page-link" href="?trans_page=1">&laquo; First</a>
                                <a class="page-link"
                                   href="?trans_page={{ transactions.previous_page_number }}">Previous</a>
                            {% endif %}
                            {% for page_num in transactions.paginator.page_range %}
                                {% if transactions.number == page_num %}
                                    <span class="page-link current">{{ page_num }}</span>
                                {% else %}
                                    <a class="page-link" href="?trans_page={{ page_num }}">{{ page_num }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if transactions.has_next %}
                                <a class="page-link"
                                   href="?trans_page={{ transactions.next_page_number }}">Next</a>
                                <a class="page-link"
                                   href="?trans_page={{ transactions.paginator.num_pages }}">Last &raquo;</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
