{% extends "base.html" %}
{% block title %}
    Edit Transaction
{% endblock title %}
{% block content %}
    {% include "supervisor_navbar.html" %}
    <div class="container-fluid mt-4">
        <div class="card col-md-6 m-auto text-bg-dark border-white">
            <div class="card-header bg-warning text-dark">
                <h5 class="mb-0">Edit Transaction ID#{{ transaction.id }}</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}" class="mt-1">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success mt-3 w-100">
                        <i class="ri-pencil-fill"></i>Save Changes
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
