{% extends "base.html" %}
{% block title %}
    Supervisor Transactions
{% endblock title %}
{% block content %}
    {% include "supervisor_navbar.html" %}
    <div class="container mt-4">
        <h1 class="text-white">Transactions</h1>
        <form method="GET" class="mb-3">
            <div class="row d-flex align-items-end">
                <div class="col-md-3">
                    <label for="category" class="form-label text-white">Category:</label>
                    <select name="category" id="category" class="form-select">
                        <option value="">All</option>
                        <option value="Promotion">Promotion</option>
                        <option value="Incident report">Incident Report</option>
                        <option value="Training">Training</option>
                        <option value="Leave">Leave</option>
                        <option value="Absence">Absence</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="status" class="form-label text-white">Status:</label>
                    <select name="status" id="status" class="form-select">
                        <option value="">All</option>
                        <option value="Open">Open</option>
                        <option value="Closed">Closed</option>
                        <option value="Approved">Approved</option>
                        <option value="Dismissed">Dismissed</option>
                        <option value="Resolved">Resolved</option>
                        <!-- Add more status options as needed -->
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="sort_by" class="form-label">Sort By:</label>
                    <select name="sort_by" id="sort_by" class="form-select">
                        <option value="">-- Select --</option>
                        <option value="date_created_asc">Date Created (ASC)</option>
                        <option value="date_created_desc">Date Created (DESC)</option>
                        <option value="effective_date_asc">Effective Date (ASC)</option>
                        <option value="effective_date_desc">Effective Date (DESC)</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Employee</th>
                    <th>Date Created</th>
                    <th>Status</th>
                    <th>Notes</th>
                    <th>Effective Date</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr onclick='window.location="{% url 'view_transaction' transaction.id %}"'
                        style="cursor:pointer">
                        <td>{{ transaction.id }}</td>
                        <td>{{ transaction.category }}</td>
                        <td>{{ transaction.employee }}</td>
                        <td>{{ transaction.date_created }}</td>
                        <td>{{ transaction.status }}</td>
                        <td>{{ transaction.notes }}</td>
                        <td>{{ transaction.effective_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if transactions.has_other_pages %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if transactions.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="First">
                                <span aria-hidden="true">&laquo;&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ transactions.previous_page_number }}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for num in transactions.paginator.page_range %}
                        <li class="page-item {% if num == transactions.number %}active{% endif %}">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endfor %}
                    {% if transactions.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ transactions.next_page_number }}"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ transactions.paginator.num_pages }}"
                               aria-label="Last">
                                <span aria-hidden="true">&raquo;&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock content %}
