{% extends "base.html" %}
{% block title %}
    View Transaction
{% endblock title %}
{% block content %}
    {% include "supervisor_navbar.html" %}
    <div class="container mt-4">
        <div class="card col-md-8 m-auto">
            <div class="card-header bg-warning text-dark">
                <h3 class="mb-0 d-inline-block">Transaction ID#{{ transaction.id }}</h3>
                <a href="{% url "edit_transaction" transaction.id %}"
                   class="btn btn-success btn-sm float-end"><i class="ri-pencil-fill"></i></a>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">Employee:</dt>
                    <dd class="col-sm-9">
                        <a href="{% url 'view_employee' transaction.employee.id %}"
                           class="text-dark">{{ transaction.employee }}</a>
                    </dd>
                    <dt class="col-sm-3">Category:</dt>
                    <dd class="col-sm-9">
                        {{ transaction.category }}
                    </dd>
                    <dt class="col-sm-3">Date Created:</dt>
                    <dd class="col-sm-9">
                        {{ transaction.date_created }}
                    </dd>
                    <dt class="col-sm-3">Status:</dt>
                    <dd class="col-sm-9">
                        {{ transaction.status }}
                    </dd>
                    <dt class="col-sm-3">Notes:</dt>
                    <dd class="col-sm-9">
                        {{ transaction.notes }}
                    </dd>
                    <dt class="col-sm-3">Effective Date:</dt>
                    <dd class="col-sm-9">
                        {{ transaction.effective_date }}
                    </dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock content %}
