<nav class="navbar navbar-expand-lg bg-warning" tabindex="10000">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">PROJECT HIVE</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% block navlinks %}
                {% endblock navlinks %}
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <span class="nav-link">Welcome, {{ user.first_name }}</span>
                </li>
                <li class="nav-item nav-link disabled">|</li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
