{% extends "base.html" %}
{% block title %}
    Login | PROJECT HIVE
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row vh-100 d-flex justify-content-center align-items-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-warning text-center">
                        <h2 class="mb-0">PROJECT HIVE</h2>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center">LOGIN</h4>
                        {% for message in messages %}
                            <div class="alert {% if message.tags == 'error' %}alert-danger text-danger{% elif message.tags == 'success' %}alert-success text-success{% endif %}"
                                 role="alert">{{ message }}</div>
                        {% endfor %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <button type="submit" class="btn btn-warning w-100">Login</button>
                        </form>
                        <p class="mt-3 text-center">
                            No account yet? <a href="{% url 'register' %}">Register here</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
