{% extends "base.html" %}
{% block title %}
    Register | PROJECT HIVE
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row vh-100 d-flex justify-content-center align-items-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-warning text-center">
                        <h2 class="mb-0">PROJECT HIVE</h2>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center">REGISTER</h4>
                        <div class="messages">
                            {% for message in messages %}
                                <div class="alert {% if message.tags == 'error' %}alert-danger text-danger{% elif message.tags == 'success' %}alert-success text-success{% endif %}"
                                     role="alert">{{ message }}</div>
                            {% endfor %}
                        </div>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="first_name" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="first_name" name="first_name">
                            </div>
                            <div class="mb-3">
                                <label for="last_name" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="last_name" name="last_name">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email">
                            </div>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username">
                            </div>
                            <div class="mb-3">
                                <label for="password1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password1" name="password1">
                            </div>
                            <div class="mb-3">
                                <label for="password2" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="password2" name="password2">
                            </div>
                            <button type="submit" class="btn btn-warning w-100">Register</button>
                        </form>
                        <p class="mt-3 text-center">
                            Already have an account? <a href="#">Login here</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
