{% extends "base_navbar.html" %}
{% block navlinks %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'supervisor_dashboard' %}">Supervisor Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'add_employee' %}">Add Employee</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'transactions' %}">Transactions</a>
    </li>
{% endblock navlinks %}
