{% extends "base.html" %}
{% block title %}
    Employee Dashboard
{% endblock title %}
{% block content %}
    {% include "employee_navbar.html" %}
    <div class="container-fluid mt-4">
        <div class="card col-md-6 m-auto text-bg-dark border-white">
            <div class="card-header bg-warning text-dark">
                <h3 class="mb-0 d-inline-block">Employee ID#{{ employee.id }}</h3>
                <a href="{% url 'edit_employee' employee.id %}"
                   class="btn btn-success btn-sm float-end"><i class="ri-pencil-fill"></i></a>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-md-3 col-sm-6">First Name:</dt>
                    <dd class="col-md-9 col-sm-6">
                        {{ employee.first_name }}
                    </dd>
                    <dt class="col-md-3 col-sm-6">Last Name:</dt>
                    <dd class="col-md-9 col-sm-6">
                        {{ employee.last_name }}
                    </dd>
                    <dt class="col-md-3 col-sm-6">Email:</dt>
                    <dd class="col-md-9 col-sm-6">
                        {{ employee.email }}
                    </dd>
                    <dt class="col-md-3 col-sm-6">Hiring Date:</dt>
                    <dd class="col-md-9 col-sm-6">
                        {{ employee.hiring_date }}
                    </dd>
                    <dt class="col-md-3 col-sm-6">Department:</dt>
                    <dd class="col-md-9 col-sm-6">
                        {{ employee.department }}
                    </dd>
                    <dt class="col-md-3 col-sm-6">Position:</dt>
                    <dd class="col-md-9 col-sm-6">
                        {{ employee.position }}
                    </dd>
                </dl>
                <h6>Transactions</h6>
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Category</th>
                            <th>Status</th>
                            <th>Notes</th>
                            <th>Effective Date</th>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                        {% if transactions %}
                            {% for transaction in transactions %}
                                <tr onclick='window.location="{% url 'view_transaction' transaction.id %}"'
                                    style="cursor:pointer">
                                    <td>{{ transaction.date_created }}</td>
                                    <td>{{ transaction.category }}</td>
                                    <td>{{ transaction.status }}</td>
                                    <td>{{ transaction.notes }}</td>
                                    <td>{{ transaction.effective_date }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="5">
                                    <h5 class="alert m-4 text-center text-danger">No Records Found</h5>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
